.full-width {
    width: 100%;
}

.half-width {
    width: 97%;
}
.nav{
    color: seashell;
    background-color: rgba(10, 10, 10, 0.863);
}
.navbar{
    color:wheat;
    background-color: silver;
}
.removerFavorito{
    color: black;
}